mixin reviewCard(singleReview)
    div(class=`review-card`)
        div.review-card__avatar
            img(src=`http://localhost/img/typical_doctor.webp`)
        div.review-card__info
            div.review-card__info__title
                div.review-card__info__title__info #{`${singleReview.UpdateAt}`}

            if (singleReview.PsychologicalTreatment != 'Вывод: ')
                div.review-card__info__content #{singleReview.PsychologicalTreatment}
            if (singleReview.Survey != 'Опрос: ')
                div.review-card__info__content #{singleReview.Survey}
            if (singleReview.Tablets != 'Лекарства: ')
                div.review-card__info__content #{singleReview.Tablets}
